body{
    font-family: "Playwrite US Modern", cursive;
    line-height: 24px;
}

a{
    text-decoration: none;
}

nav{
display: flex;
gap: 20px;
}

.header-text{
    color: black;
}

.header-text-blue{
    color: #2196F3;
}

.header-text{
    display: flex;
    gap: 20px;
    flex-direction: row;
}

header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.header-contacts{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.main-container{
    border: 1px solid  lightgray;
    width: 370px;
    text-align:center;
}



.main-box{
    display: flex;
    flex-wrap: wrap;
    width: 1450px;
    gap:20px ;
    justify-content: center;
    align-items: center;
}


button{
    font-size:16px ;
    font-weight: 500;
    padding:5px;
}

.button:hover{
   
    cursor:pointer;
    background-color: #2196F3;
    color: white;
}

.button-box{
    display: flex;
    gap: 10px;
    justify-content: center;
}

.first-sectiion{
    display: flex;
    justify-content: center;
    gap: 10px;
}








footer{
    background-color: #2F303A;
    height: 200px;
}

.footer-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
}

.header-icons{
    width:16px ;
    height: 12px;
}


.p{
    
}