
:root {
	
	--accent-color: #2196f3;
	--accent-hover: #188ce8;
	--primary-text: #212121;
	--secondary-text: #757575;
	--accent-second-color: #ffffff;
	--black-color: #000000;
	--bg-dark: #2f303a;
	--bg-light: #f5f4fa;
	--border-color: #ececec;
	--icon-color: #afb1b8;
	--overlay-bg: rgba(47, 48, 58, 0.8);
	--footer-contact: rgba(255, 255, 255, 0.6);
	--footer-social-bg: rgba(255, 255, 255, 0.1);
	--modal-border: rgba(33, 33, 33, 0.2);
	--backdrop: rgba(0, 0, 0, 0.1);
	
	
	--card-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	--button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

	--main-font:"Roboto", sans-serif;
	--logo-font:"Raleway", sans-serif;
}



body {
	font-family: var(--main-font);
	color: var(--primary-text);
}



.container {
	margin: 0 auto;
	width: 1200px;
	padding-inline: 15px;
}


.header {
	border-bottom: 1px solid var(--border-color);
	padding-top: 24px;
	padding-bottom: 25px;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: var(--black-color);
	margin-right: 93px;
}

.header-logo-span {
	color: var(--accent-color);
}

.header-navigation {
	display: flex;
	gap: 20px;
}

.header-list {
	display: flex;
	gap: 50px;
	align-items: center;
}

.header-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	
}

.header-link {
	color: var(--primary-text);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	position: relative;
transition-property: color;
	transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  ;
}

.header-link:hover,
.header-link:focus {
	color: var(--accent-color);
}

.header-link:hover::after{
    content: "";
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 0px;
  top: 43px;
  height: 3px;
  transition: 10s;
}

.header-link_active::after{
    content: "";
  background-color: var(--accent-color);
  position: absolute;
  display: block;
  width: 100%;
  bottom: 0px;
  left: 0px;
  top: 43px;
  height: 3px;
  transition: 10s;
}

.header-link_active{
    color: var(--accent-color);

}



.header-contact_list {
	display: flex;
	flex-direction: row;
	gap: 50px;
}

.header-contact_link {
	color: var(--secondary-text);
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
	
	display: flex;
	align-items: center;
	gap: 10px;
	transition-property: color;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.header-contact_link:hover,
.header-contact_link:focus {
	color: var(--accent-color);
}

.header-icon {
	margin-right: 10px;
	fill: currentColor;
}

.contact-link {
	color: var(--secondary-text);
	padding: 16px 0px;
}

.contact-link:hover,
.contact-link:focus {
	color: var(--accent-color);
}


.hero {
	background-color: var(--bg-dark);
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
		url(../image/hero-bg.png);
	background-size: cover;
	background-position: center;
	padding-top: 200px;
	padding-bottom: 200px;
	
	position: relative;
	text-align: center;
}



.hero-title {
	font-size: 44px;
	font-weight: 900;
	color: var(--accent-second-color);
	
	line-height: 60px;
	letter-spacing: 0.06em;
	
	text-transform: uppercase;
	
	padding-bottom: 30px;
	
}







.hero-button {
	color: var(--accent-second-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;
	padding: 10px 32px;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	box-shadow: var(--button-shadow);
letter-spacing: 0.06em;
line-height: 30px;
}








.is-hidden {
	opacity: 0;
	pointer-events: none;
	visibility: hidden;
}

.hero_modal-backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.2);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	transition-property: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-modal {
	position: relative;
	background-color: var(--accent-second-color);
	width: 528px;
	padding: 40px;
	box-shadow: var(--card-shadow);
	border-radius: 4px;
}

.hero_modal-close {
	position: absolute;
	top: 8px;
	right: 8px;
	width: 30px;
	height: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	border: 1px solid var(--backdrop);
	border-radius: 50%;
	cursor: pointer;
	transition-property: border-color ;
	  	transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.hero_modal-close:hover,
.hero_modal-close:focus {
	border-color: var(--accent-color);
}

.hero_modal-close svg {
	width: 18px;
	height: 18px;
	fill: var(--black-color);
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero_modal-close:hover svg,
.hero_modal-close:focus svg {
	fill: var(--accent-color);
}

.hero_modal-title {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	color: var(--primary-text);
	margin: 0 0 12px 0;
	letter-spacing: 0.03em;
}

.hero_modal-wrapper {
	display: flex;
	flex-direction: column;
	gap: 10px;
}



.hero_modal-label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	font-size: 12px;
	color: var(--secondary-text);
	letter-spacing: 0.01em;
	position: relative;
	text-align: start;
}

.hero_modal-input {
	border: 1px solid var(--modal-border);
	border-radius: 4px;
	padding: 12px 12px 12px 42px;
	font-size: 14px;
	outline: none;
	transition-property: border-color ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.hero_modal-input:focus, .hero_modal-input:hover+.hero_modal-icon{
	fill: var(--accent-color);
	
}

.hero_modal-input:hover{
	border-color: var(--accent-color);
}

.hero_modal-icon {
	position: absolute;
	left: 12px;
	bottom: 11px;
	width: 18px;
	height: 18px;
	fill: var(--primary-text);
	transition-property: fill ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
	pointer-events: none;
}

.hero_modal-icon:hover{
	fill:var(--accent-color) ;
}

.hero_modal-input:focus + .hro_modal-icon {
	fill: var(--accent-color);
}

.hero_modal-text_area {
	border: 1px solid var(--modal-border);
	border-radius: 4px;
	padding: 12px 16px;
	font-size: 14px;
	resize: none;
	height: 120px;
	font-family: inherit;
	outline: none;
	transition-property: border-color ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.hero_modal-text_area:focus, .hero_modal-text_area:hover {
	border-color: var(--accent-color);
}


.hero_modal-text_area::placeholder {
	color: rgba(117, 117, 117, 0.5);
}

.agree-button{
	margin-top: 20px;
}

.hero_modal-form label[for="agree-button"] {
	display: flex;
	align-items: center;
	gap: 8px;
	font-size: 14px;
	color: var(--secondary-text);
	letter-spacing: 0.03em;
	margin-top: 10px;
}

.hero_modal-form label[for="agree-button"] input[type="checkbox"] {
	width: 16px;
	height: 15px;
	cursor: pointer;
}

.hero_modal-form label[for="agree-button"] a {
	color: var(--accent-color);
	text-decoration: underline;
}

.hero_modal-form label[for="agree-button"] a:hover {
	color: var(--accent-hover);
}

.hero_modal-send{
		color: var(--accent-second-color);
	background-color: var(--accent-color);
	border: none;
	border-radius: 4px;
	padding: 10px 52px;
	font-family: var(--main-font);
	font-weight: 700;
	font-size: 16px;
	cursor: pointer;
	box-shadow: var(--button-shadow);
letter-spacing: 0.06em;
line-height: 30px;
margin-top:30px ;
}


.hero_modal-send:hover{
background-color:var(--accent-hover) ;
}






.job {
	padding: 94px 0;
}

.job-list{
	display: flex;
	gap: 30px;
}



.photo {
	background-color: var(--bg-light);
	width: 100%;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 30px;
	border-radius: 4px;
}

.one::before {
	content: url(./image/antena.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.two::before {
	content: url(./image/clock.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.three::before {
	content: url(./image/diagram.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.four::before {
	content: url(./image/astronaut.png);
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.job-subtitle::before{
content: "";
background-color: rgba(245, 244, 250, 1);
background-image: ;
}

.job-item h3,
.content h5 {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-text);
	margin: 0 0 10px 0;
}

.job-item p {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text);
	margin: 0;
}















.work {
	padding-bottom: 94px;
}

.work-title {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--primary-text);
	margin: 0 0 50px 0;
}

.job-image-box {
	display: flex;
	gap: 30px;
}

.job-pictures,
.pictures {
	position: relative;
	
}
.job-subtitle{
	font-family: var(--main-font);
font-weight: 700;
font-size: 14px;

line-height: 100%;
letter-spacing: 0.03em;
text-transform: uppercase;

}

.job-text{
	font-family: var(--main-font);
font-weight: 400;
font-size: 14px;

line-height: 24px;
letter-spacing: 0.03em;

}

.job-pictures img,
.pictures img {
	display: block;
	width: 100%;
	height: auto;
}

.pic-box {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 70px;
	background-color: var(--overlay-bg);
	display: flex;
	justify-content: center;
	align-items: center;
}

.pic-text {
	text-align: center;
	color: var(--accent-second-color);
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin: 0;
}

.team {
	background-color: var(--bg-light);
	padding: 94px 0;
}



.team-title {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--primary-text);
	margin: 0 0 50px 0;
}

.team-list{
	display: flex;
	gap: 30px;
	flex-direction: row;
}

.team_icon-list{
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-bottom:30px ;
}

.team-item{
	background-color: var(--white-color);
	box-shadow: var(--card-shadow);
	border-radius: 0px 0px 4px 4px;
	
}

.team-item img {
	display: block;
	
	height: auto;
}



.team-name {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.03em;
	color: var(--primary-text);
	margin: 0 0 10px 0;
	text-align: center;
	padding-top:30px ;
}

.team-job {
	font-size: 16px;
	color: var(--secondary-text);
	letter-spacing: 0.03em;
	margin: 0 0 16px 0;
	text-align: center;
	padding-bottom: 16px;
}

.team-icons-list {
	display: flex;
	justify-content: center;
	gap: 10px;
	padding: 0;
	list-style: none;
}



.team-item {
	list-style: none;
}

.team_icon-link{
	width: 44px;
	height: 44px;
	background-color: var(--white-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition-property: background-color;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.team_icon-link:hover,
.team_icon-link:focus {
	background-color: var(--accent-color);
}

.team_icon-link .icon {
	fill: var(--icon-color);
	transition-property: fill ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.team_icon-link:hover .icon,
.team_icon-link:focus .icon {
	fill: var(--accent-second-color);
}

.icon {
	fill: var(--icon-color);
	width: 20px;
	height: 20px;
}




















.clients {
	padding: 94px 0;
}

.clients-title {
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-align: center;
	color: var(--primary-text);
	margin: 0 0 50px 0;
}

.clients-list {
	display: flex;
		justify-content: center;
	gap: 30px;
		margin-top: 50px;

}

.client-link {
	width: 170px;
	height: 92px;
	border: 1px solid var(--icon-color);
	border-radius: 4px;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: border-color;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.client-link:hover,
.client-link:focus {
	border-color: var(--accent-color);
}

.client-icon {
	fill: var(--icon-color);
	transition: fill 250ms ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.client-link:hover .client-icon,
.client-link:focus .client-icon {
	fill: var(--accent-color);
}


.footer {
	background-color: var(--bg-dark);
	padding: 60px 0;
}

.footer-wraper {
	display: flex;
	align-items: flex-start;
	gap: 70px;
}

.footer-container{
    display: flex;
    flex-direction:row ;
    gap: 70px;
}

.footer-container{
	display: flex;
	flex-direction: row;
}

.footer-logo {
	font-family: 'Raleway', sans-serif;
	font-size: 26px;
	font-weight: 700;
	color: var(--accent-second-color);
	display: inline-block;
	margin-bottom: 20px;
}

.footer-logo-span {
	color: var(--accent-color);
}

.footer-address {
	font-style: normal;
}

.footer-list {
	display: flex;
	flex-direction: column;
	gap: 9px;
}

.footer-link {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--footer-contact);
	transition: color ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.footer-link:hover,
.footer-link:focus {
	color: var(--accent-color);
}

.footer-socials {
	display: flex;
	flex-direction: column;
	gap: 20px;
	text-align: left;
}

.footer-title {
	font-size: 14px;
	font-weight: 700;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--accent-second-color);
	margin: 0;
}

.footer-social_list {
	display: flex;
	gap: 10px;
}

.footer-social_link {
	width: 44px;
	height: 44px;
	background-color: var(--footer-social-bg);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: background-color ;
		transition-duration: 250ms;
	transition-timing-function:cubic-bezier(0.4, 0, 0.2, 1);  
}

.footer-social_link:hover,
.footer-social_link:focus {
	background-color: var(--accent-color);
}

.footer-social_link .icon {
	fill: var(--accent-second-color);
}